@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

// Set your brand colors
$purple: rebeccapurple;
$white: #fff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $purple;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Navbar styles
$navbar-background-color: $purple;
$navbar-item-color: rgba(255, 255, 255, 0.7);
$navbar-item-hover-color: #ccc;
$navbar-item-hover-background-color: #592d86;
$navbar-item-active-background-color: #592d86;
$navbar-item-active-color: #fff;

// Footer styles
$footer-background-color: #f7f8fa;
$footer-color: true;

// Import only what you need from Bulma. By default this starter contains all of the styles.
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/grid/_all.sass";

// Font Awesome styles. Modify this to import only what you need.
@import "~@fortawesome/fontawesome-free/css/all.css";

/* ------------------------
* Custom styles go here
---------------------------*/

// Stick the footer to the bottom of the page
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex-grow: 1;
  overflow: hidden;
}
// Modify list styles
#list-unstyled {
  list-style: none;
}
// Margins for buttons
#btn-spaced {
  margin: 1rem 0;
}
// Margins for features icons
#feature-icon {
  margin-right: 1.5rem;
}
